<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <application>
    <receiver
      android:name="com.fk.core.notification.LocalNotificationAlarmReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="com.fk.core.notification.ACTION_FIRE" />
      </intent-filter>
    </receiver>
    <receiver
      android:name="com.fk.core.notification.LocalNotificationActionReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="com.fk.core.notification.ACTION_CATEGORY_ACTION" />
      </intent-filter>
    </receiver>
    <receiver
      android:name="com.fk.core.notification.LocalNotificationBootReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
